<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
		<div class="title left">Preferences & Accounts</div>
	</div>
</div>
<!-- Ethan rocks! -->
<div class="palm-group">
	<div class="palm-group-title">Account</div>
	<div class="palm-list">
		<div class="palm-row single">
			<div class="palm-row-wrapper">
				<div class="title center" id="username"></div>
				<div x-mojo-element="Button" id="logout-button"></div>
			</div>
		</div>
	</div>
</div>

<div class="palm-group">
	<div class="palm-group-title">Advanced Settings</div>
	<div class="palm-list">
		<div class="palm-row first">
			<div class="palm-row-wrapper">
				<div x-mojo-element="ListSelector" id="mode-selector" class="listselectorClass"></div>
			</div>
		</div>
		<div class="palm-row">
			<div class="palm-row-wrapper">
				<div x-mojo-element="ToggleButton" id="override-toggle" class="togglebuttonClass"></div>
				<div class="title truncating-text">
					Server overrides
				</div>
			</div>
		</div>
		<div class="palm-row">
			<div class="palm-row-wrapper">
				<div class="textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div class="label">Web</div>
						<div x-mojo-element="TextField" id="web-textfield"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="palm-row last">
			<div class="palm-row-wrapper">
				<div class="textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div class="label">Media</div>
						<div x-mojo-element="TextField" id="media-textfield"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>