<div class="palm-scrim" id="busy-scrim" style="display: none">
	<div x-mojo-element="Spinner" id="busy-spinner"></div>
</div>
<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
		<div class="title left" id="title"></div>
	</div>
</div>
<div class="snapshot" id="play-button">
	<img id="snapshot-img" class="camera" />
	<img src="images/play.png" class="play" />
</div>
<div class="palm-row first">
	<div class="palm-row-wrapper">
		<div x-mojo-element="ToggleButton" id="alerts-toggle"></div>
		<div class="title left">Motion Alerts</div>
	</div>
</div>
</div>